- @layout = "empty"

= javascripts 'jquery-1.4.2.min', 'test/power_canvas.jquery', 'sprites.strd6'

#title
  %h1 FPS Test

%canvas#gameCanvas{:width => 640, :height => 480}
  %p
    HTML5 canvas not supported by your browser.
    = link "Learn more here", "http://www.google.com/chrome"

:javascript
  var rotate = false;
  $('#gameCanvas').powerCanvas({init: function(canvas) {
    var timeLastDrawn = new Date().getTime();
    var framesDrawn = [];

    for(var i = 0; i < 10; i++) {
      framesDrawn[i] = timeLastDrawn;
    }

    var frameIndex = 0;

    s1 = Sprite.load("images/contrasaurus/cry.png");

    setInterval(function() {
      canvas.fill('#008');

      for(var i = 0; i < 15; i++) {
        s1.draw(canvas, Math.random()*480, Math.random()*320);
      }

      framesDrawn[frameIndex] = timeLastDrawn;
      frameIndex = (frameIndex + 1) % 10;

      var fps = 1000 * (framesDrawn.length) / (new Date().getTime() - framesDrawn[frameIndex]);

      canvas.fillColor("#FFF");
      canvas.fillText("FPS: " + fps, 540, 60);

      timeLastDrawn = new Date().getTime();
    }, 1);
  }});
