- @layout = 'application'

#game_container
  %canvas#gameCanvas.touch{:width => 640, :height => 480}
    %p
      HTML5 canvas not supported by your browser.
      = link "Learn more here", "http://www.google.com/chrome"
  #game_info
    %span#health_text.label{:style => "display: none;"} health
    %span#boss_health_text.label{:style => "display: none;"} boss
    %span#score_text.label{:style => "display: none;"} score
    #level_objectives{:style => "display: none;"}
    #continue{:style => "display: none;"}
      %p CONTINUE?
      .buttons
        %button.continue_yes{:name => 'Yes'} Yes
        %button.continue_no{:name => 'No'} No
  #control
    %img{:src => 'images/direction_pad_transparent.png', :style => 'display: none'}
  #button
    %img{:src => 'images/controller_buttons_transparent.png', :style => 'display: none'}

:javascript
  var startingOrientation = orientation;

  var intervalId = setInterval(function() {
    if (orientation) {
      if (orientation.abs() == 90) {

        if (detectAndroid()) {
          androidRotated();
        } else if (detectIphoneOrIpod()) {
          iPodRotated();
        } else {
          $("body").addClass("teaser scaled_down");
          alert("Tap '+' and select 'Add to Home Screen'");
        }

        $('#portrait_display').hide();
        clearInterval(intervalId);
      }
    }
  }, 100);

  function iPodRotated() {
    var gameContainer = $('#game_container');

    if (orientation.abs() == 90 && startingOrientation == 0) {
      gameContainer.css('margin-left', '13%');
    } else if (orientation.abs() == 90 && startingOrientation != 0) {
      gameContainer.css('margin-left', '9%');
    } else {
      $('#portrait_display').show();
    }

    if(window.navigator.standalone) {
      runApp();
    } else {
      $("body").addClass("teaser scaled_down");
      alert("Tap '+' and select 'Add to Home Screen'");
    }
  }

  function androidRotated() {
    var gameContainer = $('#game_container');

    if (orientation.abs() == 90) {
      gameContainer.css('margin-left', '1%');
    }
    window.scrollTo(0, 1);
  }

  if (!detectIphoneOrIpod()) {
    $('body').addClass('scaled_down');
  }

  if (!window.navigator.standalone) {
    runApp();
  }

  function runApp() {
    $('#gameCanvas').powerCanvas({init: function(_canvas) {

      canvas = _canvas;
      canvas.font("bold 1.2em 'Monaco', 'Inconsolata', 'consolas', 'Courier New', 'andale mono', 'lucida console', 'monospace'");

      var started = false;
      var loaded = false;
      var titleScreen = Sprite.load("images/titlescreen.png");
      var dots = "";

      var loadingInterval = setInterval(function() {
        if(dots.length % 4 == 3) {
          dots = "";
        } else {
          dots = dots + ".";
        }

        var status = AssetTracker.count();

        if(status[0] >= status[1]) {
          loaded = true;
          clearInterval(loadingInterval);
        }

        titleScreen.draw(canvas, 0, 0);
        canvas.fillColor("#FFF");
        if(loaded) {
          canvas.centerText((mobile) ? "TAP TO START" : "PRESS SPACE TO START", 360);
        } else {
          canvas.fillText("LOADING" + dots, 280, 360);
        }
      }, 500);

      function continueYes() {
        dino.heal(500);
        score = Math.floor(score / 2);
        currentLevel.continueResume();
        $("#game_container").css("cursor", "none");
        $('#continue').hide();
      }

      function continueNo() {
        $('#continue').hide();
        endGameDisplay();
      }

      $("#continue .continue_yes").click(continueYes).bind("touchstart", continueYes);
      $("#continue .continue_no").click(continueNo).bind("touchstart", continueNo);

      $(document).bind("keydown", "space", function() {
        if(loaded && !started) {
          started = true;
          nextStage();
          $('#health_text').show();
          $('#score_text').show();
        }
      });

      $('canvas').bind("tap", function() {
        if(loaded && !started) {
          started = true;
          nextStage();
          shooting = false;
          $('#health_text').show();
          $('#score_text').show();
        }
      });

    }});
  }
