- @layout = 'application'

#title
  %h1 Contrasaurus

#game_container
  %canvas#gameCanvas{:width => 640, :height => 480}
    %p
      HTML5 canvas not supported by your browser.
      = link "Learn more here", "http://www.google.com/chrome"
    #tilt
  #game_info{:style => "display: none;"}
    .bar_container.left
      %span.label health
      .progress_bar
        #health
    #boss.bar_container.left{:style => "display: none;"}
      %span.label boss
      .progress_bar.boss
        #bossHealth
    #score_holder
      %span.label score
      %span#score 0
    .clear
    #level_objectives{:style => "display: none;"}
    #continue{:style => "display: none;"}
      %p CONTINUE?
      %button.continue_yes{:name => 'Yes'} Yes
      %button.continue_no{:name => 'No'} No

= javascripts("run")
