#title
  %h1 Matrix Test

#game_container
  %canvas#gameCanvas{:width => 640, :height => 480}
    %p
      HTML5 canvas not supported by your browser.
      = link "Learn more here", "http://www.google.com/chrome"

:javascript
  var transform = Matrix();

  $('#gameCanvas').powerCanvas({init: function(canvas) {
    var object = GameObject({x: 10, y: 10, sprite: loadImageTile("images/levels/dino1.png")}).extend({
      getTransform: function() {
        return transform;
      }
    });

    setInterval(function() {
      canvas.fill('#000');

      object.draw(canvas);

    }, 33);
  }});
