- @layout = 'application'

#title
  %h1 Contrasaurus

#debug
  Test

#game_container
  #game_info
    .bar_container.left
      %span.label health
      .progress_bar
        #health
    #boss.bar_container.left{:style => "display: none;"}
      %span.label boss
      .progress_bar.left
        #bossHealth
    #score_holder
      %span.label score
      %span#score 0
    .clear
  #level_objectives
  %canvas#gameCanvas{:width => 640, :height => 480}
    %p
      HTML5 canvas not supported by your browser.
      = link "Learn more here", "http://www.google.com/chrome"
    #tilt
#menu_container
  .inventory
    %span.label Inventory

  .store
    %span.label
      Store
      %span#money
        $
        %span.amount 0

:javascript
  var canvas;
  var secretService = SecretService({
    theta: - 5 * Math.PI / 6,
    hFlip: true,
    x: 200,
    xVelocity: -2
  });

  $('#gameCanvas').powerCanvas({init: function(_canvas) {

    canvas = _canvas;
    canvas.font("bold 1.2em 'Monaco', 'Inconsolata', 'consolas', 'Courier New', 'andale mono', 'lucida console', 'monospace'");

    var loadingInterval = setInterval(function() {
      secretService.update();
      secretService.draw(canvas);
    }, 33);
  }});
