/* Main contrasaurus stylesheet Copyright 2010 STRd6

=text-shadow
  text-shadow: 1px 1px 0px #000
  -moz-text-shadow: 1px 1px 0px #000
  -webkit-text-shadow: 1px 1px 0px #000

=border-radius
  border-radius: 5px
  -moz-border-radius: 5px

body
  background-color: #000
  color: #FFF
  margin: 0
  padding: 0
  font-family: Verdana, sans-serif

a
  color: #DB4B00
  font-weight: bold
  text-decoration: none
  &:hover
    text-decoration: underline

#title
  position: relative
  width: 100%
  text-align: center

#game_container
  cursor: none
  height: 480px
  margin-bottom: 3em
  margin-left: auto
  margin-right: auto
  position: relative
  width: 640px

#level_objectives
  background-color: #000
  border: 3px solid white
  color: #FFF
  font-weight: bold
  margin-left: auto
  margin-top: 180px
  margin-right: auto
  padding: 1em
  width: 150px
  +border-radius

  img
    margin-right: 1em
    vertical-align: middle
  span
    padding-top: 6px

#gameCanvas
  position: absolute
  top: 0
  left: 0

#continue button
  position: absolute

#continue p
  position: absolute
  top: 325px
  left: 270px
  width: 50px
  color: white

.continue_yes
  top: 375px
  left: 260px
  width: 50px

.continue_no
  top: 375px
  left: 330px
  width: 50px

#game_info
  padding: 0px 10px
  position: absolute
  width: 620px

.label
  color: #ddd
  display: block
  font-size: 10pt
  font-variant: small-caps
  font-weight: bold
  margin-bottom: 5px
  +text-shadow

.progress_bar
  background-color: #000
  position: absolute
  width: 240px
  height: 24px
  border: 2px solid white
  +border-radius

#boss
  position: absolute
  left: 250px

#health, #bossHealth
  position: relative
  width: 100%
  height: 100%
  background-color: #00BF00

#score_holder
  position: absolute
  top: 0
  left: 500px
  margin-right: 15px

#score
  font-size: 18pt
  color: white
  font-weight: bold
  display: block
  +text-shadow

#money
  color: green

.menu
  float: left
  position: relative
  width: 64px

  .price
    color: green
    left: 6px
    position: absolute
    top: 6px

.inventory
  .menu
    .price
      display: none

.left
  float: left

.right
  float: right

.clear
  clear: both


#menu_container
  width: 640px
  margin-left: auto
  margin-right: auto
  cursor: pointer


.inventory, .store
  background-color: #000
  float: left
  height: 96px

.inventory
  width: 448px

.store
  width: 192px

#debug
  background-color: #666
  color: #FFF
  font: bold 1em consolas, 'Courier New', 'andale mono', 'lucida console', monospace
  left: 1500px
  position: fixed
  top: 25px
