/* Main contrasaurus stylesheet Copyright 2010 STRd6 */
/* line 19 */
body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

/* line 26 */
a {
  color: #db4b00;
  font-weight: bold;
  text-decoration: none;
}
/* line 30 */
a:hover {
  text-decoration: underline;
}

/* line 33 */
#title {
  position: relative;
  width: 100%;
  text-align: center;
}

/* line 38 */
#game_container {
  cursor: none;
  height: 480px;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 640px;
}

/* line 47 */
#gameCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 52 */
#level_objectives {
  background-color: black;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-top: 180px;
  margin-right: auto;
  padding: 1em;
  width: 150px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 64 */
#level_objectives img {
  margin-right: 1em;
  vertical-align: middle;
}
/* line 67 */
#level_objectives span {
  padding-top: 6px;
}

/* line 70 */
#continue {
  background-color: black;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-top: 180px;
  margin-right: auto;
  padding: 1em;
  width: 140px;
  height: 55px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 83 */
#continue button {
  position: absolute;
}
/* line 86 */
#continue p {
  position: absolute;
  top: 205px;
  left: 260px;
  width: 50px;
  color: white;
}

/* line 93 */
.continue_yes {
  top: 250px;
  left: 255px;
  width: 50px;
}

/* line 98 */
.continue_no {
  top: 250px;
  left: 325px;
  width: 50px;
}

/* line 103 */
.modal_prompt {
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  height: 140px;
  padding: 1em;
  position: absolute;
  text-align: center;
  width: 360px;
}
/* line 116 */
.modal_prompt .actions {
  display: inline-block;
  left: 0;
  margin: 1em auto;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 124 */
#game_info {
  padding: 0px 7px;
  position: absolute;
  width: 620px;
}

/* line 129 */
.label {
  color: white;
  display: block;
  font-size: 10pt;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 5px;
  text-shadow: 1px 1px 0px black;
  -moz-text-shadow: 1px 1px 0px black;
  -webkit-text-shadow: 1px 1px 0px black;
}

/* line 138 */
.progress_bar {
  background-color: black;
  position: absolute;
  width: 240px;
  height: 24px;
  border: 2px solid white;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 146 */
#boss {
  position: absolute;
  left: 260px;
}

/* line 150 */
#health, #bossHealth {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #00bf00;
}

/* line 156 */
#score_holder {
  position: absolute;
  top: 0;
  left: 510px;
  margin-right: 15px;
}

/* line 162 */
#score {
  font-size: 18pt;
  color: white;
  font-weight: bold;
  display: block;
  text-shadow: 1px 1px 0px black;
  -moz-text-shadow: 1px 1px 0px black;
  -webkit-text-shadow: 1px 1px 0px black;
}

/* line 169 */
#money {
  color: green;
}

/* line 172 */
.menu {
  float: left;
  position: relative;
  width: 64px;
}
/* line 177 */
.menu .price {
  color: green;
  left: 6px;
  position: absolute;
  top: 6px;
}

/* line 185 */
.inventory .menu .price {
  display: none;
}

/* line 188 */
.left {
  float: left;
}

/* line 191 */
.right {
  float: right;
}

/* line 194 */
.clear {
  clear: both;
}

/* line 198 */
#menu_container {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

/* line 205 */
.inventory, .store {
  background-color: black;
  float: left;
  height: 96px;
}

/* line 210 */
.inventory {
  width: 448px;
}

/* line 213 */
.store {
  width: 192px;
}

/* line 216 */
#debug {
  background-color: #666666;
  color: white;
  font: bold 1em consolas, "Courier New", "andale mono", "lucida console", monospace;
  left: 1500px;
  position: fixed;
  top: 25px;
}
