<!DOCTYPE html>
%html
  %head
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    %title Contrasaurus - Defender of the American Dream
    = stylesheet_link_tag :all
    = csrf_meta_tag

    = render :partial => "/shared/analytics"

  %body
    = yield
