!!!
%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    %title Contrasaurus
  
    = stylesheets
  
    = javascripts('contrasaurus/config', 'jquery-1.4.2.min', 'power_canvas.jquery', 'sprites.strd6', 'power_canvas.jquery', 'sprites.strd6', 'util', 'contrasaurus/bomb', 'contrasaurus/bomb_explosion', 'contrasaurus/bomber', 'contrasaurus/bullet', 'contrasaurus/cutscene', 'contrasaurus/dinosaur', 'contrasaurus/enemy', 'contrasaurus/flamethrower', 'contrasaurus/floor', 'contrasaurus/game_object', 'contrasaurus/laser', 'contrasaurus/level', 'contrasaurus/missile', 'contrasaurus/mortar', 'contrasaurus/parasoldier', 'contrasaurus/powerup', 'contrasaurus/powerup_container', 'contrasaurus/tank', 'contrasaurus/UI')
    
  %body
    = yield