!!!
%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    %title Contrasaurus - Defender of the American Dream

    = stylesheets
    %link{ :rel => "shortcut icon", :href => "favicon.ico", :type => "image/x-icon"}

    = javascripts("contrasaurus")

  %body
    = yield
    .clear

    #footer
      %center
        = link "Created by STRd6", "http://strd6.com"
