!!!
%html
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    %title Matrix Demo

    = stylesheets

    = javascripts('jquery-1.4.2.min', 'matrix')

  %body
    = yield
    = partial 'analytics'
